# 灰机维基账号配置
HUIJI__USERNAME=your-username
HUIJI__PASSWORD=your-password
HUIJI__X_AUTHKEY=site-authkey

# DST 根目录
DST__ROOT="/home/user/.steam/debian-installation/steamapps/common/Don't Starve Together"
